.container{
    width: 100%;
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: fit-content;
    gap: 2rem;
    margin: 1rem;
    padding: 3rem;
}
.left{
    display: inline-block;
    width: 25%;
    .logo{
        max-width: 60%;
        height: auto;
    }
    .download{
        max-width: 100%;
        height: auto;
        margin: 1rem 0 1rem 0;
        cursor: pointer;
    }
}
.middle{
    display: inline-block;
    width: 25%;
    position: relative;
    .subscribe{
        border: none;
        display: inline-flex;
        justify-content: space-between;
        position: relative;
        border-radius: 120px;
        background-color: rgb(202, 197, 197);
        width: 100%;
    }
    input{
        border: none;
        color: rgba(0, 0, 0, 0.6);
        background: none;
        padding: 0.5rem;
        width: 100%;
    }
    img{
        height: 2rem;
        margin: 1rem 1rem 0 0;
        cursor: pointer;
    }
    button{
        background-color: var(--theme-color);
        color: white;
        border: none;
        border-radius: 120px;
        padding: 0.5rem;
        cursor: pointer;
    }
    p{
        font-size: 0.7rem;
        display: inline flex;
    }
}
.rightOne{
    display: inline-block;
    width: 25%;

}
.rightTwo{
    display: inline-block;
    width: 25%;
}
h3{
    font-weight: 600;
    font-size: 1rem;
}
u{
    cursor: pointer;
    color: black !important;
}
.contentMobile{
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 1rem;
    align-content: center;
    gap: none;
    .left, .middle, .rightOne, .rightTwo{
        display: flex;
        flex-flow: column;
        width: 100%;
        gap: none;
        padding: 2rem;
        .logo{
            align-self: center;
        }
        button{
            margin-left: 6rem;
        }
    }
}
.footnote{
    display: flex;
    flex-flow: row nowrap;
    background-color: black;
    padding: 1rem;
    margin-top: 2rem;
    justify-content: space-between;
    span{
        color: white;
        margin: 0 1rem 0 1rem;
    }
}
.footnoteMobile{
    display: flex;
    flex-direction: column;
    background-color: black;  
    padding: 1rem;
    margin-top: 2rem;
    span{
        color: white;
        margin: 0 1rem 0 1rem;
    }
}
