.container{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.container h1{
    font-weight: 700;
    font-size: 2rem;
    color: #000000;
}
.restaurants{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}
.restaurantCard {
    flex: 0 0 auto;
    width: 12rem;
    height: 13rem;
    position: relative;
    background-size: contain;
    background-position: center;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.restaurantCard:hover{
    transform: scale(1.05);
}